body {
    background-color: gainsboro;
    color: black;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    width: 100%;
}
.fas fa-calculator{
    font-size: 100px;
    color: black;
    padding: 40px 0;
}
.bmi {
    width: 450px;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
}
.wpis{
    text-align: center;
    float: left;
    width: 200px;
    border: #666666 dashed;
    padding: 20px;
    margin-left: 35px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    line-height: 2.0;
}
input[type=button] {
    width: 200px;
    background-color: darkgreen;
    font-size: 20px;
    color: #efefef;
    border:none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 5px;
    margin-left: 20px;
    margin-top: 20px;
}
input[type=button].hover {
    background-color: #37b93d;
}
.obrazek{
   position: center;
    text-align: center;
    margin-left: 0px;
    margin-right: 00px;
}
